@using System.Globalization

@if (Entity is not null)
{
    <div class="row alert-dark">
        <div class="col text-start text-muted"><small>ID: @Entity.Id</small></div>
        <div class="col text-end text-muted"><small>Updated by @updatedBy at @updatedAt</small></div>
    </div>
}

@code {
    [Parameter] public TraceableEntity? Entity { get; set; }

    string updatedBy = "Unknown";
    string updatedAt = "Unknown";

    protected override void OnInitialized()
    {
        updatedBy = Entity?.UpdatedBy ?? "Unknown";
        updatedAt = Entity?.UpdatedAt.ToString("dd-MMM-yyyy HH:mm", CultureInfo.GetCultureInfo("en-US")) ?? "Unknown";
    }
}
