@using System.Linq.Expressions
@inherits InputTextArea
@typeparam TValue

<div class="col-12">
    <div class="row">
        <div class="col-6 p-0">
            <label>@Label</label>
            <textarea class="form-control" style="min-height: 350px"
                @bind-value="CurrentValue" @bind-value:event="oninput"/>
            <ValidationMessage For="OnFor"/>
        </div>
        <div class="col-6">
            <label>@Label (Preview)</label>
            <div class="form-control overflow-scroll" style="height: 350px;">
                <MarkdownRenderer MarkdownContent="@CurrentValue"/>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Label { get; set; } = "Text";
    [Parameter] public Expression<Func<TValue>>? OnFor { get; set; }

}
