@inject NavigationManager NavManager

<div class="row mb-3">
    @if (Filters != null)
    {
        @Filters
    }
    @if (AllowToAdd)
    {
        <div class="col-2 text-end">
            <button @onclick="AddNew" class="btn btn-outline-primary btn-sm">Add new</button>
        </div>
    }
</div>

@code {
    [Parameter] public bool AllowToAdd { get; set; }
    [Parameter] public string? CreationPage { get; set; }
    [Parameter] public RenderFragment Filters { get; set; }

    void AddNew()
    {
        if (!string.IsNullOrEmpty(CreationPage))
            NavManager?.NavigateTo(CreationPage);
    }
}
