<div class="table-responsive">
    <table class="table table-striped">
        @if (ItemHeader != null)
        {
            <thead class="bg-dark text-light">
                @ItemHeader
            </thead>
        }
        <tbody>
            <GenericGrid Items=Records ItemRow="ItemRow"/>
        </tbody>
        <tfoot>
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <tr class="alert-danger">errorMessage</tr>
                errorMessage = null;
            }
            else
            {
                <tr></tr>
            }
        </tfoot>
    </table>
</div>

@code{
    @typeparam TModel
    [Parameter] public List<TModel>? Records { get; set; }
    [Parameter] public RenderFragment? ItemHeader { get; set; }
    [Parameter] public RenderFragment<TModel> ItemRow { get; set; }
    [Parameter] public string? errorMessage { get; set; }
}