@inject NavigationManager NavManager

<div class="row mb-3">
    @if (AllowToAdd)
    {
        <div class="col text-end">
            <button @onclick="AddNew" class="btn btn-outline-primary btn-sm">Add new</button>
        </div>
    }
</div>

<div class="table-responsive">
    <table class="table table-striped">
        @if (ItemHeader != null)
        {
            <thead class="bg-dark text-light">
                @ItemHeader
            </thead>
        }
        <tbody>
            <GenericGrid Items=Records ItemRow="ItemRow"/>
        </tbody>
        <tfoot>
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <tr class="alert-danger">errorMessage</tr>
                errorMessage = null;
            }
            else
            {
                <tr></tr>
            }
        </tfoot>
    </table>
</div>

@code{
    @typeparam TModel
    [Parameter] public List<string>? Headers { get; set; }
    [Parameter] public List<TModel>? Records { get; set; }
    [Parameter] public bool AllowToAdd { get; set; }
    [Parameter] public string? CreationPage { get; set; }
    [Parameter] public RenderFragment? ItemHeader { get; set; }
    [Parameter] public RenderFragment<TModel> ItemRow { get; set; }

    string? errorMessage;

    void AddNew()
    {
        if (string.IsNullOrEmpty(CreationPage))
            errorMessage = "No page to create a new record was specified";
        else
            NavManager?.NavigateTo(CreationPage);
    }
}