<div class="col-12">
    <label for="ddlMemoType" class="form-label">@Label</label>
    <select id="ddlMemoType" class="form-control" @bind="Value">
        @if (!string.IsNullOrWhiteSpace(DefaultValue))
        {
            <option value="-1">@DefaultValue</option>
        }
        @if (Items != null)
        {
            foreach (var item in Items)
            {
                <option value="@item.Key">@item.Value</option>
            }
        }
    </select>
</div>

@code{
    [Parameter] public string? Label { get; set; }
    [Parameter] public int Value { get; set; }
    [Parameter] public Dictionary<int, string>? Items { get; set; }
    [Parameter] public string DefaultValue { get; set; } = "";
}