@page "/memos/create"
@page "/memos/edit/{Id:int}"
@inject IRepository repository
@inject NavigationManager navManager

<div class="row">
    <div class="col">
        <h1 class="text-info">@(Id > 0 ? $"Edit memo #{Id}" : "Create new memo")</h1>
    </div>
</div>
<MemoForm Memo="memo" OnValidSubmit="OnValidSubmit"/>


@code {
    [Parameter] public int Id { get; set; }

    Memo? memo;

    protected override void OnInitialized()
    {
        if (Id == 0)
            memo = new();
        else
            memo = repository.Get(Id);
    }

    void OnValidSubmit()
    {
        Console.WriteLine("Edit page: Submit");
        if (memo != null)
        {
            if (memo.Id < 1)
            {
                repository.Add(memo);
                navManager.NavigateTo("/memos");
            }
            else
            {
                repository.Edit(memo);
                navManager.NavigateTo("/memos");
            }
        }
    }
}
