@page "/memos/create"
@page "/memos/edit/{Id:int}"
@inject IMemoService service
@inject NavigationManager navManager

<div class="row">
    <div class="col">
        <h1 class="text-info">@(Id > 0 ? $"Edit memo #{Id}" : "Create new memo")</h1>
    </div>
</div>
<MemoForm Memo="memo" OnValidSubmit="OnValidSubmit"/>


@code {
    [Parameter] public int Id { get; set; }

    Memo? memo;

    protected override void OnInitialized()
    {
        memo = Id == 0 ? new() : service.Get(Id);
    }

    void OnValidSubmit()
    {
        Console.WriteLine("Edit page: Submit");
        if (memo != null)
        {
            if (memo.Id < 1)
            {
                service.Add(memo);
                navManager.NavigateTo("/memos");
            }
            else
            {
                service.Edit(memo);
                navManager.NavigateTo("/memos");
            }
        }
    }
}
