@page "/memos/{Id:int}"
@inject IRepository repository

@if (memo != null)
{
    <EntityInfoPanel Entity="memo"/>
    <div class="row bg-light">
        <h1>@memo.Term</h1>
    </div>
    <div class="row bg-light">
        <p>@memo.Meaning</p>
    </div>
}
else
{
    <div class="row">
        <h1>Unknown</h1>
        <p>The specified memo is not found</p>
    </div>
}
<ComandPanel Entity="memo" />


@code {
    [Parameter] public int Id { get; set; }

    Memo? memo;

    protected override void OnInitialized()
    {
        memo = repository.Get(Id);
    }
}
