@inject NavigationManager navManager

@if (DetMode == "V")
{
    if (Memo != null)
    {
        <div class="row text-center">
            <div class="col">
                <p>@Memo.Term</p>
                <p>@Memo.Meaning</p>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" @onclick="(e => SwitchRandomMemo.InvokeAsync())">Switch</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
else if (DetMode == "G")
{
    if (Memo != null)
    {
        <tr @onclick="(e => GoToMemo(Memo))">
            <td>@Memo.Term</td>
            <td>@Memo.Meaning</td>
            <td>
                @if (DisplayButtons)
                {
                    <button class="btn btn-danger" @onclick="(e => Delete.InvokeAsync(Memo))">Delete</button>
                }
            </td>
        </tr>
    }
}

@code {
    [Parameter] public Memo? Memo { get; set; }
    [Parameter] public string DetMode { get; set; } = "G";
    [Parameter] public bool DisplayButtons { get; set; }
    [Parameter] public EventCallback<Memo> Delete { get; set; }
    [Parameter] public EventCallback SwitchRandomMemo { get; set; }

    [CascadingParameter] public AppStyle AppStyle { get; set; } = new();
    Random rnd = new Random(DateTime.Now.Millisecond);

    void GoToMemo(Memo memo)
    {
        navManager.NavigateTo($"/memos/{memo.Id}");
    }
}
