@page "/memos/import"
@inject IMemoService memoService
@inject IMemoSetService memoSetService

<h3>Import memos</h3>

<div class="row">
    <input class="form-control m-2" type="text" @bind="@memoSetName" placeholder="Memo set name"/>
    <textarea class="form-control m-2" @bind="@memosToImport" rows="20" 
        placeholder="Paste here the memos to import..." />

    @if (!string.IsNullOrWhiteSpace(message))
    {
        <p class="@messageClass">@message</p>
        message = "";
    }
</div>
<button type="button" class="btn btn-outline-primary" @onclick=@ImportMemos>Import</button>

@code {
    string memosToImport = "";
    string message = "";
    string messageClass = "";
    string memoSetName = "";

    private void ImportMemos()
    {
        try
        {
            var memoSet = GetMemoSet();
            memoService.AddRangeFromText(memosToImport, memoSet);

            message = "Memos were successfully imported";
            messageClass = "alert-success";
            memoSetName = "";
            memosToImport = "";
        }
        catch (ArgumentException ex)
        {
            message = ex.Message;
            messageClass = "alert-danger";
        }
    }

    private MemoSet? GetMemoSet()
    {
        if (string.IsNullOrWhiteSpace(memoSetName)) return null;

        var memoSet = memoSetService
            .GetAll()
            .FirstOrDefault(ms => ms.Name.Equals(memoSetName, StringComparison.InvariantCultureIgnoreCase));
        if (memoSet == null) 
        {
            memoSet = new MemoSet() { Name = memoSetName };
            memoSetService.Add(memoSet);
        }
        return memoSet;
    }
}
