@page "/memos/{Id:int}"
@inject IRepository repository

@if (memo != null)
{
    <EntityInfoPanel Entity="memo"/>
    <MemoDt Mode="DetModes.View" Entity="memo"/>
}
else
{
    <div class="row">
        <h1>Unknown</h1>
        <p>The specified memo is not found</p>
    </div>
}
<ComandPanel Mode="DetModes.View" Entity="memo" />


@code {
    [Parameter] public int Id { get; set; }

    Memo? memo;

    protected override void OnInitialized()
    {
        memo = repository.Get(Id);
    }
}
