@page "/memos/{Id:int}"
@using System.Reflection
@inject IRepository repository

@if (memo != null)
{
    <EntityInfoPanel Entity="memo"/>
    <MemoDt Mode="DetModes.View" Entity="memo"/>
}
else
{
    <div class="row">
        <h1>Unknown</h1>
        <p>The specified memo is not found</p>
    </div>
}
<ComandPanel Mode="DetModes.View" Entity="memo" ActionButtons="actionButtons" Action="ActionButtonOnClick" />


@code {
    [Parameter] public int Id { get; set; }

    Memo? memo;
    Dictionary<string, string> actionButtons = new();

    protected override void OnInitialized()
    {
        memo = repository.Get(Id);
        actionButtons = new Dictionary<string, string>
        {
            { "ResetStatistics", "Reset stat"},
            { "MarkAsStudied", "Known"},
        };
    }

    void ActionButtonOnClick(string methodName)
    {
        repository.GetType().GetMethod(methodName)?.Invoke(repository, new[] { memo });
    }
}
