@page "/memos/{Id:int}"
@using System.Reflection
@inject IMemoService memoService
@inject IMemoSetService memoSetService

@if (memo != null)
{
    <EntityInfoPanel Entity="memo"/>
    <MemoInfo Mode="DetModes.View" Entity="memo" MemoSets="@memoSets"/>
}
else
{
    <div class="row">
        <h1>Unknown</h1>
        <p>The specified memo is not found</p>
    </div>
}
<ComandPanel Mode="DetModes.View" Entity="memo" ActionButtons="actionButtons" Action="ActionButtonOnClick" />


@code {
    [Parameter] public int Id { get; set; }

    Memo? memo;
    string memoSets = "";
    Dictionary<string, string> actionButtons = new();

    protected override void OnInitialized()
    {
        memo = memoService.GetById(Id);
        if (memo != null && memo.MemoSetsList.Any())
        {
            memoSets = string.Join(", ", memoSetService.GetByIds(memo.MemoSetsList).Select(ms => ms.Name));
        }
        
        actionButtons = new Dictionary<string, string>
        {
            { "ResetStatistics", "Reset stat"},
            { "MarkAsStudied", "Known"},
        };
    }

    void ActionButtonOnClick(string methodName)
    {
        memoService.GetType().GetMethod(methodName)?.Invoke(memoService, new[] { memo });
    }
}
