@page "/"
@page "/memos"
@using Memotech.BSA.Pages.MemoPages

<div class="row">
    <div class="col text-center">
        <h1>Memotech</h1>
    </div>
</div>

<MemoGrid Memos="memos" AllowToAdd="true"/>
