@page "/"
@using Memotech.BSA.PageComponents

<div class="row">
    <div class="col text-center">
        <h1>Memotech</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Memos</h2>
    </div>
</div>

<MemosGrid Memos="memos"/>
<MemoDt Memo="randomMemo" DetMode="V" DisplayButtons="true" DisplayRandomMemo="DisplayRandomMemo"/>

<div class="row">
    <div class="col text-center">
        <button @onclick="AddNew" class="btn btn-success">Add new</button>
    </div>
</div>
