@page "/"
@page "/memos"
@using Memotech.BSA.PageComponents

<div class="row">
    <div class="col text-center">
        <h1>Memotech</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Memos</h2>
    </div>
</div>

<MemosGrid Memos="memos" AllowToAdd="true"/>
<MemoDt Memo="randomMemo" DetMode="V" DisplayButtons="true" SwitchRandomMemo="SwitchRandomMemo"/>
