@page "/"
@page "/memos"
@using Memotech.BSA.Pages.MemoPages
@inject IMemoService service

<div class="row">
    <div class="col text-center">
        <h1>Memotech</h1>
    </div>
</div>

<MemoGrid Memos="memos" AllowToAdd="true"/>

@code {
    List<Memo>? memos;

    protected override void OnInitialized()
    {
        memos = service?.GetAll() ?? new List<Memo>();
    }
}