@inject NavigationManager navManager

<div class="row m-1">
    <div class="col text-md-start">
    </div>
    <div class="col text-md-end">
        <button class="btn btn-primary" @onclick="@(e => Action("edit"))">Edit</button>
        <button class="btn btn-primary" @onclick="@(e => Save.InvokeAsync(Entity))">Save</button>
        <button class="btn btn-primary" @onclick="@(e => Action(""))">Close</button>
    </div>
</div>

@code {
    @typeparam T
    [Parameter] public T? Entity { get; set; }
    [Parameter] public EventCallback<T> Save { get; set; }
    
    void Action(string action)
    {
        navManager.NavigateTo($"/memos/{action}");
    }
}
